<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/registoAnimais" class="btn btn-secondary">Registo</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>