<header>
  <div id="left-side">
    <img id="logo" src="~/images/logo.png" alt="">
    <h1>PetGym</h1>
  </div>
  <div id="right-side">
      <nav class="mainMenu">
        <ul class="mainMenuList">
          <li><a style="text-decoration:none" href="/">Home</a></li>
          <li><a style="text-decoration:none" href="/listaAnimais">Animais</a></li>
          <li><a style="text-decoration:none" href="/listaAvaliacoes">Lista Avaliações</a></li>
	  <li><a style="text-decoration:none" href="/registoAnimais">Registo Animais</a></li>
	  <li><a style="text-decoration:none" href="/users/logout">Log out</a></li>
          <li><a style="text-decoration:none" href="#footer-bottom">Contactos</a></li>
        </ul>
      </nav>
    </div>
</header>
<main>
  <h1 class="mt-4">Página inicial</h1>
  <p class="lead mb-3">Welcome <%= user.name %></p>
</main>
