<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"> -->
  
  
    <link rel="stylesheet" href="../views/styles/headfoot.css">
    <link rel="stylesheet" type="text/css" href="views/styles/registoStyle.css">
    <title>PetGym</title>
  </head>

  <body>
    <div class="container"><%- body %></div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer>
    <section id="footer-top">
      <div class="contactos">
        <h1>Contactos</h1>
        <p>
          Campus do IPS - Estefanilha
        </p>
        <p>
          2910-761 | Setúbal - Portugal
        </p>
        <p>
          Tel: +351 975 109 450
        </p>
        <p>
          Fax: +351 265 709 470
        </p>

        <p>
          pet.gym@hotmail.com
        </p>
      </div>

      <div class="redes-sociais">
        <a id="facebook" href="www.google.pt"><img src="images/facebookcores.png" alt=""></a>
        <a id="instagram" href="www.google.pt"><img src="images/instagramcores.png" alt=""></a>
        <a id="youtube" href="www.google.pt"><img src="images/youtubecores.png" alt=""></a>
      </div>

    </section>
    <section id="footer-bottom">
      <p id="registo">
        'PETGYM' é uma marca registada | © Copyright 2019 PORTUGAL, All rights reserved.
      </p>
    </section>
  </footer>
  <style>
    @import "headfoot.css";
    
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
    
    body{
        margin: 0;
        width: 100%;
        height: 80%;
      }
      
      header{
       box-sizing: border-box;
       width: 100%;
       height: 100%;
       float: center;
       overflow: auto;
       box-shadow: 10px red;
      }
      
      #left-side{
      box-sizing: border-box;
      width: 35%;
      height: 100%;
      float: left;
      }
      
      #left-side *{
        float:left;
        
      }
      
      
      #logo{
        margin-top: 2.5%;
        margin-right: 4%;
        margin-left: 14%;
        height: 65px;
        width: 160px;
      }
      
      #right-side{
        box-sizing: border-box;
        width: 65%;
        height: 100%;
        float: left;
        margin-top: 2%;
      }
      
      .mainMenu{
          background-color:white;
          list-style-type:none;    
      }
      
      #left-side h1 {
          font-family:   'Didact Gothic', Arial, sans-serif;
          font-size: 41px;
          letter-spacing: -5px;
          word-spacing: 3px;
          color: #00b0b3;    
          -webkit-text-stroke: 0.7px rgb(117, 117, 117);
          -webkit-text-stroke: 0px rgb(117, 117, 117);
      }
      
      .mainMenuList{
          font-size: 15px;
      }
      
      .mainMenuList li{
          font-family: 'Raleway', Arial, sans-serif;
          font-weight: 500;
          display: inline-block;
          text-decoration: none;
          list-style: outside none none;
          margin: 0 1.0em;
          padding: 0;
      }
      
      .mainMenuList {
          font-family: 'Raleway', Arial, sans-serif;
          text-align: center;
          text-transform: uppercase;
          font-weight: 500;
        }
      
        .mainMenuList * {
          box-sizing: border-box;
        }
      
      
      
        .mainMenuList a {
          padding: 0.5em 0;
          color:  rgb(168, 167, 167);
          position: relative;
          letter-spacing: 0.5px;
          text-decoration: none;
        }
        .mainMenuList a:before,
        .mainMenuList a:after {
          position: absolute;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
        }
        .mainMenuList a:before {
          bottom: 0;
          display: block;
          height: 3px;
          width: 0%;
          content: "";
          background-color: #00b0b3;
        }
        .mainMenuList a:after {
          left: 0;
          top: 0;
          padding: 0.5em 0;
          position: absolute;
          content: attr(data-hover);
          color: #ffffff;
          white-space: nowrap;
          max-width: 0%;
          overflow: hidden;
        }
        .mainMenuList a:hover:before,
        .mainMenuList .current a:before {
          opacity: 1;
          width: 100%;
        }
        .mainMenuList a:hover:after,
        .mainMenuList .current a:after {
          max-width: 100%;
        }
      
        #login{
            color: #00b0b3;
            font-size: 15.5px;
        }
      
        #registar::before{
          bottom: 0;
          display: block;
          height: 3px;
          width: 0%;
          content: "";
          background-color: white;
        }
    
        #registar{
          box-sizing: border-box;
          text-decoration: none;
          padding: 10px;
          color: white;
          border-radius: 25px;
          font-size: 15px;
          background: #00b0b3;
      }
      
        #registar:hover{
            color: #00b0b3;
            background: white;
            border-radius: 25px;
            border: 2px solid #00b0b3;
        }
      
      
    
        
    footer{
        width: 100%;    
          display: flex;
          flex-direction: column;
         
      }
      
      #footer-top{
        display: flex;
        flex-direction: row;
        background-color: #00b0b3;
        justify-content: space-around;
        width: 100%;
        padding: 2% 0% 2.5% 0%;
      }
      
      .contactos{
        display: flex;
        flex-direction: column;
      }
      
      footer h1{
          font-family: 'Raleway', Arial, sans-serif;
          font-weight: lighter;
          color:  rgb(112, 111, 111);
          color: white;
          font-size: 27px;
          text-transform: uppercase;
      }
      
      footer p{
          font-family: 'Raleway', Arial, sans-serif;
          font-weight: lighter;
          color:  rgb(112, 111, 111);
          color:white;
          font-size: 15px;
      }
      
      
      
      .redes-sociais{
        margin-top: 2%;
          display: flex;
          flex-direction: column;
         width: 5%;
      
      }
      
      .redes-sociais img{
          padding: 15px;
          width: 65px;
          height: 65px;
      }
      
      #footer-bottom{
        background-color: whitesmoke;
      }
      
      
      #registo{
          text-align: center;
          font-size: 14px;
      
          color:  rgb(112, 111, 111);
      }
      
      .email{
          display: flex;
          flex-direction: column;
          margin-top: 1.5%;
          width: 25%;
          margin-top: 2%;
          margin-right: 2.5%;
      }
      
      #nome, #email, #assunto, #texto{
          font-family: 'Raleway', Arial, sans-serif;
          font-weight: lighter;
          font-size: 15px;
          width: 100%;
          padding: 8px 20px;
          margin: 8px 0 10px;
          border: 1.5px solid white;
          border-radius: 1px;
          background: #00b0b3;
      }
      
      #texto{
          padding-bottom: 35px;
      }
      
      .email ::-webkit-input-placeholder { 
          color: white;
        }
      
      #submeter{
          font-family: 'Raleway', Arial, sans-serif;
          color: #00b0b3;
          font-size: 17px;
          border: 1px solid white;
          border-radius: 4px;
          background: white;
        float: left;
        width: 28%;
        padding: 2%;
      }
      
      
      
      
    
    main{
      background-color: #00b0b3;
      padding-top: 9% ;
      padding-bottom: 2.5% ;
      margin-bottom: 0;
      /*border-bottom: 50px solid white;*/
    }
    
    
    .login {
      width: 320px;
      margin: auto;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
    .formulario input {
      font-family: 'Raleway', Arial, sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    
    .formulario button {
      font-family: 'Raleway', Arial, sans-serif;
      text-transform: uppercase;
      border:2px solid #00b0b3;
      background: #00b0b3;;
      width: 100%;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      
    }
    
    .formulario button:hover {
      background: white;
      color:#00b0b3;
      font-weight: lighter;
    }
    
    /*tirar a linha azul do foco*/
    .formulario button:focus {
        outline:0;
    }
    
    
    .registo {
      font-family: 'Raleway', Arial, sans-serif;
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12.5px;
    }
    
    .registo a {
      color: #00b0b3;
      text-decoration: none;
    }
    
    
    
    /*Footer alternativo*/
    
    #footer-top{
      background-color: whitesmoke;
    }
    
    
    footer h1{
        color:  rgb(112, 111, 111);
    }
    
    footer p{
        color:  rgb(112, 111, 111);
    }
    
    
    
    #footer-bottom{
      background-color: #00b0b3;
    }
    
    
    #registo{
        color: white;
    }
    
    
    #nome, #email, #assunto, #texto{
        border: 1.5px solid rgb(112, 111, 111);
        background: whitesmoke;
    }
    
    .email ::-webkit-input-placeholder { 
        color: rgb(112, 111, 111);
      }
    
    #submeter{
        color: white;
        border: 1px solid rgb(112, 111, 111);
        background: rgb(112, 111, 111);
    }
    
    
    /*
    Recuperaçao de password
    */
    
    /*Parte de trás do Modal*/
     .modal {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: left;
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 0.5;
    }
    
    
    .modal-state {
      display: none;
    }
    
    .modal-state:checked + .modal {
      opacity: 1;
      visibility: visible;
    }
    
    .modal-state:checked + .modal .modal__inner {
      top: 0;
    }
    
    /*Modal mesmo*/
    .modal__inner {
      transition: top .2s ease;
      position: absolute;
      top: -20%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      overflow: auto;
      padding: 1em 2em;
    
      background: #fff;
      width: 30%;
      height: 40%;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
    .modal__inner h1{
      font-weight: lighter;
      font-family: 'Raleway', Arial, sans-serif;
      margin: 15px 0 0;
      color: #b3b3b3;
      margin-bottom: 40px;
    
    }
    
    .modal__inner input{
    font-family: 'Raleway', Arial, sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      margin-bottom: 20px;
    
    }
    
    .modal__inner button{
      font-family: 'Raleway', Arial, sans-serif;
      text-transform: uppercase;
      border:2px solid #00b0b3;
      background: #00b0b3;;
      width: 100%;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      margin-bottom: 20px;
    
    }
    
    .modal__inner button:hover:focus {
      background: white;
      color:#00b0b3;
      font-weight: lighter;
      outline:0;
    }
    
    
    .modal__inner p{
      font-family: 'Raleway', Arial, sans-serif;
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 13.5px;
    }
    
    .modal__close {
      position: absolute;
      right: 1em;
      top: 1em;
      width: 1.1em;
      height: 1.1em;
      cursor: pointer;
    }
    
    .modal__close:after,
    .modal__close:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 1.5em;
      background: #ccc;
      display: block;
      transform: rotate(45deg);
      left: 50%;
      margin: -3px 0 0 -1px;
      top: 0;
    }
    
    .modal__close:hover:after,
    .modal__close:hover:before {
      background: #aaa;
    }
    
    .modal__close:before {
      transform: rotate(-45deg);
    }
    
    
    
    
    </style>
</html>
