<header>
  <div id="left-side">
    <img id="logo" src="~/images/logo.png" alt="">
    <h1>PetGym</h1>
  </div>
  <div id="right-side">
    <nav class="mainMenu">
      <ul class="mainMenuList">
        <li><a style="text-decoration:none" href="/">Home</a></li>
        <li><a style="text-decoration:none" href="/users/initial">Animais</a></li>
        <li><a style="text-decoration:none" href="home.html">Quem somos</a></li>
        <li><a style="text-decoration:none" href="#footer-bottom">Contactos</a></li>
        <li><a id="login" style="text-decoration:none" href="/users/login">Login</a></li>
        <li><a id="registar" style="text-decoration:none" href="/users/register">Registar</a></li>

      </ul>
    </nav>
  </div>
</header>
<main>
  <table class="blueTable">
    <thead>
      <tr>
        <th>Id avaliação</th>
        <th>Nome Animal</th>
        <th>Peso avaliação</th>
        <th>Data avaliação</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < listaAvaliacoes.length; i++) { %>
      <tr>
        <td><%= listaAvaliacoes[i].avaliar_id %></td>
        <td><%= listaAvaliacoes[i].avaliar_animal_id %></td>
        <td><%= listaAvaliacoes[i].avaliar_animal_peso %></td>
        <td><%= listaAvaliacoes[i].avaliar_data %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</main>

<style>
  table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 80%;
    text-align: left;
    border-collapse: collapse;
  }

  table.blueTable td,
  table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }

  table.blueTable tbody td {
    font-size: 14px;
  }

  table.blueTable tr:nth-child(even) {
    background: #C1F5E5;
  }

  table.blueTable thead {
    background: #004849;
    background: -moz-linear-gradient(top, #407676 0%, #195a5b 66%, #004849 100%);
    background: -webkit-linear-gradient(top, #407676 0%, #195a5b 66%, #004849 100%);
    background: linear-gradient(to bottom, #407676 0%, #195a5b 66%, #004849 100%);
    border-bottom: 2px solid #444444;
  }

  table.blueTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }

  table.blueTable thead th:first-child {
    border-left: none;
  }

  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    border-top: 2px solid #444444;
  }

  table.blueTable tfoot td {
    font-size: 14px;
  }

  table.blueTable tfoot .links {
    text-align: right;
  }

  table.blueTable tfoot .links a {
    display: inline-block;
    background: #007071;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
</style>