<table>
    <% for(var i=0; i < listaAvaliacoes.length; i++) { %>
       <tr>
         <td>Avaliar id: <%= listaAvaliacoes[i].avaliar_id %></td>
         <td>Animal id: <%= listaAvaliacoes[i].avaliar_animal_id %></td>
         <td>Animal peso: <%= listaAvaliacoes[i].avaliar_animal_peso %></td>
         <td>Animal data: <%= listaAvaliacoes[i].avaliar_data %></td>       
       </tr>
    <% } %>
</table>
