<table>
    <% for(var i=0; i < listaAvaliacoes.length; i++) { %>
       <tr>
         <td><%= listaAvaliacoes[i].avaliar_id %></td>
         <td><%= listaAvaliacoes[i].avaliar_animal_id %></td>
         <td><%= listaAvaliacoes[i].avaliar_animal_peso %></td>
         <td><%= listaAvaliacoes[i].avaliar_data %></td>       
       </tr>
    <% } %>
</table>
