<header>
  <div id="left-side">
      <img id="logo" src="images/logo.png" alt="">
      <h1>PetGym</h1>
  </div>
  <div id="right-side">
      <nav class="mainMenu">
          <ul class="mainMenuList">
              <li><a style="text-decoration:none" href="/">Home</a></li>
              <li><a style="text-decoration:none" href="/users/dashboard">Animais</a></li>
              <li><a style="text-decoration:none" href="home.html">Quem somos</a></li>
              <li><a style="text-decoration:none" href="#footer-bottom">Contactos</a></li>
              <li><a id="login" style="text-decoration:none" href="/users/login">Login</a></li>
              <li><a id="registar" style="text-decoration:none" href="/users/register">Registar</a></li>

          </ul>
      </nav>
  </div>
</header>
<main>
      <% include ./partials/messages %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>
</main>