<header>
  <div id="left-side">
    <img id="logo" src="~/images/logo.png" alt="">
    <h1>PetGym</h1>
  </div>
  <div id="right-side">
      <nav class="mainMenu">
        <ul class="mainMenuList">
          <li><a style="text-decoration:none" href="/users/initial">Home</a></li>
          <li><a style="text-decoration:none" href="/users/listaAnimais">Animais</a></li>
          <li><a style="text-decoration:none" href="/users/listaAvaliacoes">Avaliações</a></li>
          <li><a style="text-decoration:none" href="#footer-bottom">Contactos</a></li>
        </ul>
      </nav>
    </div>
</header>

<main>
  <iframe width="1250" height="650" id="publicidade" src="https://www.youtube.com/embed/CBLSBA23qSo?start=50"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</main>