<header>
    <div id="left-side">
      <img id="logo" src="images/logo.png" alt="">
      <h1>PetGym</h1>
    </div>
    <div id="right-side">
      <nav class="mainMenu">
        <ul class="mainMenuList">
          <li><a style="text-decoration:none" href="/">Home</a></li>
          <li><a style="text-decoration:none" href="/users/dashboard">Animais</a></li>
          <li><a style="text-decoration:none" href="home.html">Quem somos</a></li>
          <li><a style="text-decoration:none" href="#footer-bottom">Contactos</a></li>
          <li><a id="Login" style="text-decoration:none" href="/users/login">Login</a></li>
          <li><a id="Registar" style="text-decoration:none" href="/users/register">Registar</a></li>

        </ul>
      </nav>
    </div>
  </header>

  <main>
    METER AQUI UM CARROSSEL DE CÃES 
    <iframe width="1250" height="650" id="publicidade" src="https://www.youtube.com/embed/CBLSBA23qSo?start=50"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </main>

